.modal-dialog{
    max-width:800px;
}
.mb-2{
    margin-bottom: 10px;
}
label b{
    font-weight: 500;
}
.btn-filter{
    padding: 7px 14px;
}
.dropdown-menu{
    padding: 10px 15px;
}
.close-icon{
    cursor:pointer;
}