<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="typcn typcn-home"></i></a></li>
    <li class="breadcrumb-item" *ngIf="!ifuserlogin"><a routerLink="/transfer-posting">Transfer / Posting</a></li>
    <li class="breadcrumb-item"><a><b>Create Transfer / Posting</b></a></li>
</ul>

<div class="col-12 grid-margin">
    <div class="card px-3 mt-0">
      <div class="card-body">
        <h4 class="card-title">Transfer / Posting<span class="float-right">(*) Required</span></h4>
        
        <!-- HTML Template -->
        <form [formGroup]="transferForm" (ngSubmit)="onSubmit()" class="form-sample">
          <div class="row">
            
            <div class="sub-title  float-left w-100 pl-2">Order Info</div>
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Order Type <span>*</span></label>
                <div class="col-sm-12">
                    <select class="form-control" formControlName="orderTypeCategoryCode" 
                    [ngStyle]="{'border-bottom': (submitted && transferForm.get('orderTypeCategoryCode')?.invalid && transferForm.get('orderTypeCategoryCode')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option *ngFor="let orderTypeData of orderType" [value]="orderTypeData.value">{{orderTypeData.label}}</option>
                    </select>
                </div>
              </div>
            </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Order No <span>*</span></label>
                  <div class="col-sm-12">
                    <input type="text" maxlength="4" class="form-control" formControlName="orderNumber" (keydown)="onKeyDown($event)"
                    [ngStyle]="{'border-bottom': (submitted && transferForm.get('orderNumber')?.invalid && transferForm.get('orderNumber')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                  </div>
                </div>
              </div>
            
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Order For <span>*</span></label>
                <div class="col-sm-12">
                  <select class="form-control" formControlName="orderForCategoryCode" (change)="changeOrderFor($event)" 
                  [ngStyle]="{'border-bottom': (submitted && transferForm.get('orderForCategoryCode')?.invalid && transferForm.get('orderForCategoryCode')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                    <option value="" selected>Select</option>
                    <option *ngFor="let orderForData of orderFor" [value]="orderForData.value">
                      {{ orderForData.label }}
                    </option>
                  </select>            
                </div>
              </div>
            </div>


                <div class="col-md-3">
                    <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Date of Order <span>*</span></label>
                    <div class="col-sm-12">
                        <input type="date" class="form-control" [max]="getCurrentDate()" formControlName="dateOfOrder"
                        [ngStyle]="{'border-bottom': (submitted && transferForm.get('dateOfOrder')?.invalid && transferForm.get('dateOfOrder')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                      </div>
                    </div>
                </div>


                <div class="col-md-3" *ngIf="showAdditionalCharge">
                  <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Additional Charge <span>*</span></label>
                  <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="additionalCharge"
                      [ngStyle]="{'border-bottom': (submitted && transferForm.get('dateOfOrder')?.invalid && transferForm.get('dateOfOrder')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                    </div>
                  </div>
              </div>

              
              <div class="col-md-12 p-0">
                <div class="col-md-8">
                  <div class="card p-2 mb-4">
                    <div  class="row col-md-12 pl-2">
                      <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Full Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="fullName" (input)="onInput($event, 'fullName')" [value]="selectedOption"/> 
                                    
                                <div class="autocomplete-items" *ngIf="showDropdown&&!ifuserlogin">
                                    <div class="option" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                                        {{ option.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    
                      <div class="col-md-6">
                          <div class="form-group row">
                              <label class="col-sm-12 col-form-label">Officer ID</label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="employeeId" (input)="onInput($event, 'empId')" [value]="selectedEmpOption"/> 
                                
                            <div class="autocomplete-items" *ngIf="showDropdown&&!ifuserlogin">
                                <div class="option" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                                    {{ option.id }}
                                </div>
                            </div>
                              </div>
                          </div>
                      </div>
                    </div>

                 
                  <div  class="row col-md-12 pl-2">
                    <div class="sub-title  float-left w-100 pl-2 mt-2">To</div>            
                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label"> Posting In <span>*</span></label>
                        <div class="col-sm-12">
                          <select class="form-control" formControlName="toPostingInCategoryCode" (change)="toGetDepartment($event)">
                          <option value="">Select</option>
                            <option *ngFor="let postingInData of postingIn" [value]="postingInData.value">{{postingInData.label}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 px-0">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label"> Department <span>*</span></label>
                        <div class="col-sm-12">
                            <select class="form-control" formControlName="toDepartmentId" (change)="toGetDesignation($event)">
                              <option value="">Select</option>
                              <option *ngFor="let departmentData of toDepartment" [value]="departmentData.value">{{departmentData.label}}</option>
                            </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4 pr-0">
                    <div class="form-group row">
                      <label class="col-sm-12 col-form-label"> Designation <span>*</span></label>
                      <div class="col-sm-12">
                          <select class="form-control" formControlName="toDesignationId">
                              <option value="">Select</option>
                              <option *ngFor="let designationData of toDesignation" [value]="designationData.value">{{designationData.label}}</option>
                          </select>
                      </div>
                    </div>
                    </div>
                  </div>
              
                <div  class="row col-md-12 pl-2">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Post Type <span>*</span> </label>
                    <div class="col-sm-12">
                        <select class="form-control" formControlName="postTypeCategoryCode">
                            <option value="">Select</option>
                            <option *ngFor="let postTypeData of postType" [value]="postTypeData.value">{{postTypeData.label}}</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Location Change <span>*</span> </label>
                    <div class="col-sm-12">
                        <select class="form-control" formControlName="locationChangeCategoryId">
                            <option value="">Select</option>
                            <option *ngFor="let locationChangeData of locationChange" [value]="locationChangeData.value">{{locationChangeData.label}}</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary mr-2 mt-2 float-right p-2" (click)="addOfficer()">Add Officer</button>
              </div>
            </div>

            <div class="col-md-4 pr-0">
              <div class="card p-3">
                <h6 class="sub-title" style="font-size: 13px;"> <b>From</b> </h6>
                <p>
                  <span class="left">Posting In</span><span class="right">: <span *ngIf="ifuserlogin; else ep">{{userdata.postingIn}}</span><ng-template #ep><span>{{fromPostingIn}}</span></ng-template></span>
                </p>                
                <p><span class="left"> Department</span><span class="right"> : <span *ngIf="ifuserlogin; else ed">{{userdata.department}}</span><ng-template #ed><span>{{fromDepartment}}</span></ng-template></span> 
                </p>
                <p><span class="left"> Designation</span><span class="right">: <span *ngIf="ifuserlogin; else edes">{{userdata.designation}}</span><ng-template #edes><span>{{fromDesignation}}</span></ng-template></span>  </p>
                <hr>
                <h6 class="sub-title" style="font-size: 13px;"><b>Department Details</b> </h6>
                <p><span class="left">Address : </span><p>{{this.deptAddress}}</p>
                <p><span class="left">Phone</span><span class="right">:</span>{{this.deptPhoneNumber}}</p>
                <p><span class="left">Mobile</span><span class="right">:</span>{{this.deptOfficialMobileNo}}</p>
                <p><span class="left">Fax</span><span class="right">:</span>{{this.deptFaxNumber}}</p>
              </div>
            </div>
          </div>

            <table class="col-md-12 table mx-2 mt-4" *ngIf="showTable">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Name & ID </th>
                  <th>Posting In</th>
                  <th>Department</th>
                  <th>Designation</th>
                  <th>Post Type</th>
                  <th>Location Change</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let officer of selectedOfficersDetails; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{ officer.fullName }} - {{ officer.employeeId }}</td>
                  <td>{{ officer.toPostingInCategoryCode }}</td>
                  <td>{{ officer.toDepartmentId }}</td>
                  <td>{{ officer.toDesignationId }}</td>
                  <td>{{ officer.postTypeCategoryCode }}</td>
                  <td>{{ officer.locationChangeCategoryId }}</td>
                  <td>
                    <button type="button" class="btn btn-danger p-2" (click)="removeOfficer(i)">
                      <i class="typcn typcn-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
           
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Order File <span>*</span></label>
                <div class="col-sm-12">
                  <input type="file" class="form-control pl-0" accept=".pdf" formControlName="orderFile" style="border: none;" (change)="onFileSelected($event)">                  </div>
                  <div *ngIf="transferForm.get('orderFile')?.errors?.['maxSize']" style="font-size: 13px; color: red;" class="pl-2">File size exceeds 5MB</div>
                  <div *ngIf="transferForm.get('orderFile')?.errors?.['incorrectFileType']">Only PDF files are allowed</div>
                </div>
            </div>

            <div class="col-md-5">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Remarks</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="remarks" />
                </div>
              </div>
            </div>
          </div>
            <button type="submit" class="btn btn-primary mr-2 mt-2 mb-2">Submit</button>
            <button type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>