<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="typcn typcn-home"></i></a></li>
    <li class="breadcrumb-item" *ngIf="!ifuserlogin"><a routerLink="/previous-posting">Previous Posting</a></li>
    <li class="breadcrumb-item"><a><b>Edit Previous Posting</b></a></li>
</ul>

<div class="col-12 grid-margin">
    <div class="card px-3 mt-0">
      <div class="card-body">
        <h4 class="card-title">Previous Posting<span class="float-right">(*) Required</span></h4>
        
        <!-- HTML Template -->
        <form [formGroup]="previousPostingForm" (ngSubmit)="onSubmit()" class="form-sample">
          <div class="row">
          <div class="col-md-12 p-0">
                
                    <div  class="row col-md-12 pl-2">
                      <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Full Name <span> *</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="fullName" (input)="onInput($event, 'fullName')" [value]="selectedOption"/> 
                                    
                                <div class="autocomplete-items" *ngIf="showDropdown&&!ifuserlogin">
                                    <div class="option" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                                        {{ option.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    
                      <div class="col-md-6">
                          <div class="form-group row">
                              <label class="col-sm-12 col-form-label">Officer ID <span> *</span></label>
                              <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="empProfileId" (input)="onInput($event, 'empId')" [value]="selectedEmpOption"/> 
                                
                            <div class="autocomplete-items" *ngIf="showDropdown&&!ifuserlogin">
                                <div class="option" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                                    {{ option.id }}
                                </div>
                            </div>
                              </div>
                          </div>
                      </div>
                    </div>

                 
                    <div class="container">
                        <div class="sub-title  float-left w-100 pl-0 mt-4">Posting Details
                          <button type="button" class="btn btn-success px-2 py-2 float-right" style="font-size: 13px;" (click)="addRow()">Add</button>
                        </div>
                        <div formArrayName="previousPostingList">

                        <div *ngFor="let row of previousPostingFormArray.controls; let i = index" [formGroupName]="i">

                            <div class="col-md-12 card mt-2 pr-3 py-2 pl-2">
                              <div *ngIf="i > 0">
                                <button class="btn btn-danger float-right p-1 position-absolute" style="right:0px; top:0px;" (click)="removeRow(i)"><i class="mdi mdi-close"></i></button>
                              </div>
                            <div class="col-md-3">
                              <div class="form-group row">
                                <label class="col-sm-12 col-form-label">Posting In <span>*</span></label>
                                <div class="col-sm-12">
                                  <select class="form-control" formControlName="toPostingInCategoryCode" (change)="toGetDepartment($event, i)">
                                    <option value="">Select</option>
                                    <option *ngFor="let postingInData of postingIn" [value]="postingInData.value">{{postingInData.label}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                      
                            <div class="col-md-3 px-0">
                              <div class="form-group row">
                                <label class="col-sm-12 col-form-label">Department <span>*</span></label>
                                <div class="col-sm-12">
                                  <!-- <select class="form-control" formControlName="toDepartmentId" (change)="toGetDesignation($event, i)">
                                    <option value="">Select</option>
                                    <option *ngFor="let departmentData of toDepartment[i]" [value]="departmentData.value">{{departmentData.label}}</option>
                                  </select> -->
                                  <select class="form-control" formControlName="toDepartmentId" (change)="toGetDesignation($event, i)">
                                    <option value="">Select</option>
                                    <option *ngFor="let departmentData of toDepartment" [value]="departmentData.value">
                                      {{ departmentData.label }}
                                    </option>
                                  </select>
                                  
                                </div>
                              </div>
                            </div>
                      
                            <div class="col-md-3 pr-0">
                              <div class="form-group row">
                                <label class="col-sm-12 col-form-label">Designation <span>*</span></label>
                                <div class="col-sm-12">
                                  <select class="form-control" formControlName="toDesignationId">
                                    <option value="">Select</option>
                                    <option *ngFor="let designationData of toDesignation" [value]="designationData.value">{{designationData.label}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                      
                            <div class="col-md-3">
                              <div class="form-group row">
                                <label class="col-sm-12 col-form-label">Address <span>*</span></label>
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" formControlName="district">
                                </div>
                              </div>
                            </div>
                      
                            <div class="col-md-3">
                              <div class="form-group row">
                                <label class="col-sm-12 col-form-label">From Date <span>*</span></label>
                                <div class="col-sm-12">
                                  <input type="date" class="form-control" formControlName="fromDate">
                                </div>
                              </div>
                            </div>
                      
                            <div class="col-md-3">
                              <div class="form-group row">
                                <label class="col-sm-12 col-form-label">To Date </label>
                                <div class="col-sm-12">
                                  <input type="date" class="form-control" formControlName="toDate">
                                </div>
                              </div>
                            </div>
                      
                           
                      
                          </div>
                        </div>
                        </div>
                      </div>
                     </div>
            </div>
          <div class="mt-3 ml-1">
            <button type="submit" class="btn btn-primary mr-2 mt-2 mb-2">Submit</button>
            <button type="reset" class="btn btn-light">Cancel</button>
        </div>
        </form>
      </div>
    </div>
  </div>