<section class="section-featured">
    <div class="container">
        <h2 class="heading-featured-in">திருக்குறள்</h2>
        <marquee behavior="" direction="left" scrollamount="12">
            <div class="kural">
                <p class="kural-Tamil">
                    இதனை இதனால் இவன்முடிக்கும் என்றாய்ந்து
                    <br>
                    அதனை அவன்கண் விடல்
                </p>
                <img src="../../../assets/images/thiru.png" alt="thiruvalluvar" class="valluvar">
                <p class="kural-English">
                    This deed, by these means, if he can perform
                    <br>
                    Test him; if convinced, assign it to him.
                </p>
            </div>
        </marquee>
    </div>
</section>