<div class="col-12 grid-margin">
    <div class="card px-3 mt-4">
      <div class="card-body pb-0">
        <h4 class="card-title">Status

          <div class="col-md-2 float-right p-0 mb-2">
            <div class="form-group row">
              <!-- <label class="col-sm-12 col-form-label"> Status</label> -->
              <div class="col-sm-12">
                <select class="form-control" (change)="getStatus($event)">
                  <option value="All">All</option>
                  <option value="false">Not Approved</option>
                  <option value="true">Approved</option>
                </select>
              </div>
            </div>
          </div>
        </h4>
        
      </div>

      <table class="table table-bordered table-hover table-striped mb-4">
        <thead>
          <tr>
            <th style="width: 50px;">#</th>
            <th>Form</th>
            <th>Remarks</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="statusData.length > 0; else noRecords">
            <tr *ngFor="let status of statusData; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{status.formType}}</td>
              <td>{{status.remarks}}</td>
              <td>{{ status.approvalStatus ? 'Approved' : 'Not Approved' }}</td>
              <td class="text-center">
              <button class="btn p-2 btn-info mr-1">
                <a href="{{ url + status.formFile }}" target="_blank" style="color: #fff;">View</a>
              </button>


              </td> 
            </tr>
          </ng-container>
          <ng-template #noRecords>
            <tr>
              <td colspan="6" style="color: red;">No Records Found</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      
      
    
    </div>
</div>
