<div class="form-card">
    <h2 class="form-title">Send Us a Message</h2>
    <form class="form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="form-grid">
            <div>
                <label class="form-label">Full Name</label>
                <input type="text" class="form-input" name="FullName" ngModel required />
            </div>
            <div>
                <label class="form-label">Email Address</label>
                <input type="email" class="form-input" name="EmailAddress" ngModel required email />
            </div>
        </div>
        <div>
            <label class="form-label">Subject</label>
            <input type="text" class="form-input" name="Subject" ngModel />
        </div>
        <div>
            <label class="form-label">Message</label>
            <textarea rows="5" class="form-textarea" name="Message" ngModel></textarea>
        </div>
        <button type="submit" class="form-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-send">
                <path
                    d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z">
                </path>
                <path d="m21.854 2.147-10.94 10.939"></path>
            </svg>
            Send Message
        </button>
    </form>
</div>