
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>House Building Advance <button type="button" class="btn btn-success btn-add float-right p-2" (click)="addNew()">Add New</button></h5>
        <div class="col-md-12 p-0 mt-2">
          <div class="col-md-3 px-0 mt-2 mb-0">
            <input type="text" [(ngModel)]="filterText" class="form-control pl-2" placeholder="Search...">
          </div>
  
          <div class="col-md-2 px-0 mt-2 mb-0 float-right">
            <label><b>Export as : </b></label>
            <select class="form-control w-50 float-right pt-0" (change)="changeValue($event)">
              <option value="">Select</option>
              <option value="PDF">PDF</option>
              <option value="Excel">Excel</option>
              <option value="Word">Word</option>
              <option value="Print">Print</option>
            </select>
          </div>
        </div>

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover my-4 float-left">
  <thead>
    <tr>
      <th>#</th>
      <th>Name of the Officer</th>
      <th>Designation</th>
      <th>HBA Availed</th>
      <th>Installments <br> Availed</th>
      <th>Pending <br> Installments</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="filteredEmployeeList.length > 0; else noRecords">
      <tr *ngFor="let data of pagedData(); let i = index">
        <td>{{i + 1}}</td>
        <td>{{data.officerName}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.hbaAvailedFor}}</td>
        <td></td>
        <td></td>
        <td>{{ data.submittedBy?.username}} ({{ data.submittedBy?.loginAs}})</td>
        <td class="text-center">
          <button type="button" class="btn btn-info p-2 mr-2" (click)="editGpf(data._id)">Edit</button>
          <button type="button" class="btn btn-info p-2" style="font-size: 12px;" data-toggle="modal" data-target="#viewGpf" (click)="viewGpf(data._id)">View</button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noRecords>
      <tr>
        <td colspan="13" style="color: red;">No records found</td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>
</div>
</div>
</div>

  