
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>House Building Advance <button type="button" class="btn btn-success btn-add float-right p-2" (click)="addNew()">Add New</button></h5>
        <div class="col-md-12 p-0 mt-2 mb-4">
          <div class="col-md-3 px-0 mt-2 mb-0">
            <input type="text" [(ngModel)]="filterText" class="form-control pl-2" placeholder="Search...">
          </div>
  
          <div class="col-md-2 px-0 mt-2 mb-0 float-right">
            <label><b>Export as : </b></label>
            <select class="form-control w-50 float-right pt-0" (change)="changeValue($event)">
              <option value="">Select</option>
              <option value="PDF">PDF</option>
              <option value="Excel">Excel</option>
              <option value="Word">Word</option>
              <option value="Print">Print</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex align-items-center" style="gap: 1rem;">
            <div class="dropdown" [class.show]="isDropdownOpen">
              <button class="btn btn-primary dropdown-toggle btn-filter" type="button" id="dropdownMenuButton"
                (click)="toggleDropdown($event)" aria-haspopup="true" aria-expanded="false">
                Filter
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="{'show': isDropdownOpen}"
                (click)="$event.stopPropagation()" style="width: 330px;">
                <div class="d-flex align-items-center justify-content-end">
                  <img src="assets/images/close.png" alt="close-icon" width="16" (click)="toggleDropdown($event)" class="close-icon">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label class="col-form-label">From Date</label>
                    <input type="date" class="form-control" [(ngModel)]="fromdate" />
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">To Date</label>
                    <input type="date" class="form-control" [(ngModel)]="todate"/>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label class="col-form-label">HBA Availed</label>
                    <select name="" id="" class="form-control" [(ngModel)]="hbaAvailed">
                      <option value="Nerkundram Phase - I">Nerkundram Phase - I</option>
                      <option value="Nerkundram Phase - II">Nerkundram Phase - II</option>
                      <option value="Other TNHB Projects / Private">Other TNHB Projects / Private</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Type of Property</label>
                    <select name="" id="" [(ngModel)]="typeofproperty" class="form-control">
                      <option value="Ready build">Ready Build</option>
                      <option value="Construction">Construction</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label class="col-form-label">Min Cost of property</label>
                    <input type="text" class="form-control" [(ngModel)]="minprice"/>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Max Cost</label>
                  <input type="range" class="form-range" min="10000" max="20000000" id="customRange2" [(ngModel)]="minprice">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label class="col-form-label">Max Cost of property</label>
                    <input type="text" class="form-control" [(ngModel)]="maxprice"/>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Max Cost</label>
                  <input type="range" class="form-range" min="10000" max="20000000" id="customRange2" [(ngModel)]="maxprice">
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-around">
                  <button class="btn btn-danger p-2" (click)="clear()">Clear</button>
                  <button class="btn btn-info p-2" (click)="toggleDropdown($event);filter()">Apply</button>
                </div>
              </div>
            </div>
            <button class="btn btn-secondary btn-filter" type="button" (click)="clearFilter()">
              Remove Filter
            </button>
          </div>
        </div>

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover my-4 float-left">
  <thead>
    <tr>
      <th>#</th>
      <th>Name of the Officer</th>
      <th>Designation</th>
      <th>HBA Availed</th>
      <th>Total Cost <br> of Property</th>
      <th>No of <br> Installments</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="filteredEmployeeList.length > 0; else noRecords">
      <tr *ngFor="let data of pagedData(); let i = index">
        <td>{{i + startIndex +1}}</td>
        <td>{{data.officerName}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.hbaAvailedFor}}</td>
        <td>{{data.totalCostOfProperty}}</td>
        <td>
          <!-- {{data.totalNumberOfInstallments}} -->
          {{ data.totalNumberOfInstallments === '16' ? 'Final' : data.totalNumberOfInstallments }}
        </td>
        <!-- <td>{{ data.submittedBy?.username}} ({{ data.submittedBy?.loginAs}})</td> -->
        <td class="text-center">
          <button type="button" class="btn btn-info p-2 mr-2" (click)="editHba(data._id)">Edit</button>
          <button type="button" class="btn btn-info p-2" style="font-size: 12px;" data-toggle="modal" data-target="#viewHba" (click)="viewHba(data._id)">View</button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noRecords>
      <tr>
        <td colspan="13" style="color: red;">No records found</td>
      </tr>
    </ng-template>
  </tbody>
</table>
<div class="pagination1 float-right text-right w-100" *ngIf="filteredEmployeeList.length >= 0">
  <div class="dropdown col-md-8">
    <button class="btn btn-secondary dropdown-toggle p-2" type="button" id="pageSizeDropdown"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Items Per Page: {{ pageSize }}
    </button>
    <div class="dropdown-menu" aria-labelledby="pageSizeDropdown">
      <a class="dropdown-item" *ngFor="let option of pageSizeOptions" (click)="changePageSize(option)">{{ option
        }}</a>
    </div>
  </div>
  <div class="col-md-4" style="border: 0px;">
    <button class="btn btn-light mr-1 p-2" [disabled]="currentPage === 1" (click)="prevPage()">
      <i class="mdi mdi-chevron-double-left"></i> Previous </button>
    <ng-container *ngFor="let page of pages">
      <button class="btn btn-light ml-1 p-2" [ngClass]="{ 'active': currentPage === page }"
        (click)="goToPage(page)">{{ page }}</button>
    </ng-container>
    <button class="btn btn-light  ml-1 p-2" [disabled]="currentPage === totalPages" (click)="nextPage()">
      Next <i class="mdi mdi-chevron-double-right"></i> </button>

  </div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="viewHba" tabindex="-1" aria-labelledby="viewHbaLabel" aria-hidden="true" *ngIf="showPopup">
  <div class="modal-dialog" style="max-width:900px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewHbaLabel">View HBA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">

        <div class="col-md-12 p-0">
          <div class="col-md-4 px-0 mb-2"><label class="w-100"><b>Name </b></label> <br> {{viewHbaData.officerName}}</div>
          <div class="col-md-4 px-0 mb-2"><label class="w-100"><b>Department </b></label> <br>{{viewHbaData.department}}
          </div>
          <div class="col-md-4 px-0 mb-2"><label class="w-100"><b>Designation</b></label><br>{{viewHbaData.designation}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Place of Property (State)</b></label><br>{{viewHbaData.state}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Place of Property (District)</b></label><br>{{viewHbaData.district}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>HBA Availed for TNHB </b></label><br>{{viewHbaData.hbaAvailedFor}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Type of Property </b></label><br>{{viewHbaData.typeOfProperty}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Date of Application </b></label><br>{{viewHbaData.dateOfApplication | date:'dd/mm/yyyy'}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Total Cost of Property</b></label><br>{{viewHbaData.totalCostOfProperty}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Any Exisiting Residence</b></label><br>{{viewHbaData.isExisingResidenceAvailable}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>2B Relaxation</b></label><br>{{viewHbaData.twoBRelacation}}</div>
          <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Total HBA Availed </b></label><br>{{viewHbaData.totalHbaAvailed}}</div>
          <div class="col-md-4 px-0 mt-3">
            <label class="w-100"><b>Total No. of Installments</b></label><br>
            {{ viewHbaData.totalNumberOfInstallments === '16' ? 'Final' : viewHbaData.totalNumberOfInstallments }}
          </div>
                    <div class="col-md-4 px-0 mt-3"><label class="w-100"><b>Total No. Recovery Months</b></label><br>{{viewHbaData.totalNumberOfRecoveryMonths}}</div>

          <hr>
          <h6 class="modal-title float-left w-100 mb-2">Installment Information</h6>

          <table class="table table-bordered table-striped table-hover my-1 float-left">
            <thead>
              <tr>
                <th>#</th>
                <th>Installment No.</th>
                <th>Conduct Rule Permission</th>
                <th>Amount</th>
                <th>Installment Date</th>
                <th>Attachment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let installmentData of installment; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ installmentData.installmentNumber }}</td>
                <td>{{ installmentData.conductRulePermission }}</td>
                <td>{{ installmentData.amount }}</td>
                <td>{{ installmentData.installmentDate | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <a
                    href="{{ url }}{{ installmentData.conductRulePermissionAttachment }}"
                    target="_blank"
                    class="btn btn-primary py-2 px-1 ml-2"
                  >
                    View
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <h6 class="modal-title float-left w-100 mb-2">Order Information</h6>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Order Type </b></label> <br> {{viewHbaData.orderType}}
          </div>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Order No </b></label> <br> {{viewHbaData.orderNo}}
          </div>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Order For </b></label> <br> {{viewHbaData.orderFor}}
          </div>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Date of Order </b></label> <br>
            {{viewHbaData.dateOfOrder | date:'dd/MM/yyyy'}}</div>
          <div class="col-md-3 px-0 mt-3"><label class="w-100"><b>Order File</b></label> <br>
            <a href="{{url}}{{viewHbaData.orderFile}}" target="_blank" class="btn btn-primary py-2">View</a>
          </div>
          <div class="col-md-3 px-0 mt-3"><label class="w-100"><b>Remarks </b></label> <br> {{viewHbaData.remarks}}
          </div>

        </div>



      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success py-2 px-3" *ngIf="showApprove && !viewHbaData.approvalStatus"
          (click)="approveLtc(viewHbaData)">Approve</button> -->
        <button type="button" class="btn btn-secondary py-2 px-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>