.form-control{
    border: 1px solid #ccc;
    /* border-left: 3px solid #223a66; */
    border-left: 3px solid #92400e;
    border-radius: 5px !important;
}
.outer{
    background: linear-gradient(to right, #fffbeb, #fef3c7) !important;
    /* background-image: url('/assets/images/sectratiate.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    /* padding-bottom: 200px; */
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    padding: 0;
}
.logo span{
    padding: 0;
}