.modal-dialog{
    max-width: 800px;
    font-size: 13px;
}
label b{
    font-weight: 500;
}
.btn-filter{
    padding: 7px 14px;
}
.dropdown-menu{
    padding: 10px 15px;
}
.close-icon{
    cursor:pointer;
}