<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addviewInfoLabel">Basic Information</h5>
    </div>

    <ng-container *ngIf="loading; else content">
      <div class="modal-body p-3">
        <h4><img src="../../../assets/images/loading.gif" alt=""></h4>
      </div>
    </ng-container>
    <!-- <div class="col-md-12">
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Previous Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/previous.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Transfer/Posting Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/transfer.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Promotion Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/promotion.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Leave Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/leave.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Training Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/training.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Foreign Visit Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/visit.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>SAF Games Village Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/village.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>LTC Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/ltc.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Medical Reimbursement Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/medical.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Private Visit Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/private.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Immovable Asset Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/ima.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Movable Asset Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/ma.png" class="icon-img"></div>
          </div>

          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Education Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/education.png" class="icon-img"></div>
          </div>
          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2 mb-3">
        <div class="card card-xs" style="display: block;">
          <div class="col-md-12 p-0  mb-2">
            <div class="col-md-9 p-0">
              <h6>Intimation Details</h6>
            </div>
            <div class="col-md-3 p-0"> <img src="../../assets/images/intimation.png" class="icon-img"></div>
          </div>
          <div class="col-md-12 float-left">
            <p>Total <br><span> (0)</span></p>
          </div>
        </div>
      </div>
    </div> -->

    <ng-template #content>
      <!-- <div class="modal-body p-3" *ngIf="userAvailable.length>0; else usernotavailable">
        <div class="col-md-12">
          <div class="col-md-3">
            <img [src]="employeeHistory.imagePath" alt="Profile" class="profile-img">
          </div>
          <div class="col-md-9">
            <div class="col-md-12 border-0">
              <h5 class="float-left"><label style="color: black;" class="mb-0">{{employeeHistory.fullName}} -
                  {{employeeHistory.employeeId}}</label></h5> &nbsp; <span> - ( {{employeeHistory.batch}} ) </span>
            </div>
            <div class="col-md-12 pb-2"> {{getdesignation(firstIndex.toDesignationId)}},
              {{getdepatments(firstIndex.toDepartmentId)}}</div>
            <div class="col-md-12 border-0"><i class="typcn typcn-phone"></i><label class="pt-1 pl-2"> <span
                  *ngIf="employeeHistory.mobileNo1">{{employeeHistory.mobileNo1}}</span>
                <span *ngIf="employeeHistory.mobileNo2">, {{employeeHistory.mobileNo2}}</span>
                <span *ngIf="employeeHistory.mobileNo3">, {{employeeHistory.mobileNo3}}</span></label></div>
            <div class="col-md-12 border-0"><i class="typcn typcn-mail" style="transform: rotate(0deg);"></i><label
                class="pt-2 pl-2" style="width:90%;">{{employeeHistory.personalEmail}},
                {{employeeHistory.officeEmail}}</label></div>
            <div class="col-md-12 border-0" style="line-height: 1.9;"><i class="typcn typcn-location"
                style="transform: rotate(0deg);"></i>
              <label class="pt-2 pl-2">
                {{employeeHistory.addressLine}},{{employeeHistory.city}} <br>
                {{employeeHistory.state}},
                {{employeeHistory.pincode}}
              </label>
            </div>
            <div class="col-md-12 border-0 my-2">
              <div class="col-md-4"><label> <b>DOB :</b> {{employeeHistory.dateOfBirth}}</label></div>
              <div class="col-md-4"><label> <b>DOJ :</b> {{employeeHistory.dateOfJoining}}</label></div>
              <div class="col-md-4"><label> <b>DOR :</b> {{employeeHistory.dateOfRetirement}}</label></div>
            </div>
          </div>

          <h5 class="modal-title col-md-12 pl-0 pt-2 mb-2 mt-5">Employee History</h5>


         

          
        </div>
      </div> -->
    
      <div class="modal-body pb-0">
        <div class="col-md-12 p-0">
          <img [src]="viewEmployeeData.imagePath" alt="Profile" class="profile-img">
          <div class="col-md-12 p-0">
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Name </b></label> <br> {{viewEmployeeData.fullName}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Gender </b></label> <br>{{viewEmployeeData.gender}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Date of Birth </b></label><br>{{viewEmployeeData.dateOfBirth | date:'dd/MM/YYYY'}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Home State </b></label><br>{{viewEmployeeData.state}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Class</b></label><br>{{viewEmployeeData.community}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Religion</b></label><br>{{viewEmployeeData.religion}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Caste</b></label><br>{{viewEmployeeData.caste}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Mobile No 1</b></label><br>{{viewEmployeeData.mobileNo1}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Mobile No 2</b></label><br>{{viewEmployeeData.mobileNo2}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Landline</b></label><br>{{viewEmployeeData.mobileNo3}}</div>  
            <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Email ID</b></label><br>{{viewEmployeeData.personalEmail}}</div>
            
            <hr>
              <h6 class="modal-title float-left w-100 mt-3">Education Details </h6></div>  
              <div class="table-responsive">
                <table class="table existing mt-2">
                  <thead>
                    <tr>
                      <th class="py-2"><label class="col-form-label pt-0">S.No</label></th>
                      <th class="py-2"><label class="col-form-label pt-0">Course Level</label></th>
                      <th class="py-2"><label class="col-form-label pt-0">Degree</label></th>
                      <th class="py-2"><label class="col-form-label pt-0">Specialisation</label></th>
                      <th class="py-2"><label class="col-form-label pt-0">Institute Name</label></th>
                      <th class="py-2"><label class="col-form-label pt-0"> State</label></th>
                      <th class="py-2"><label class="col-form-label pt-0"> Country</label></th>
                      <th class="py-2"><label class="col-form-label pt-0"> Duration of Course</label></th>
                      <th class="py-2"><label class="col-form-label pt-0"> Fund</label></th>
                      <th class="py-2"><label class="col-form-label pt-0"> Fee</label></th>
                      <th class="py-2"><label class="col-form-label pt-0"> Completed Date & Year</label></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let tableData of viewEmployeeData.educationdetails; let i = index">
                    <tr>
                      <td>{{i+1}}</td>
                      <td>{{tableData.courseLevel}}</td>
                      <td>{{tableData.degree}}</td>
                      <td>{{tableData.specialisation}}</td>
                      <td>{{tableData.instituteName}}</td>
                      <td>{{tableData.locationStateName}}</td>
                      <td>{{tableData.locationCountryName}}</td>
                      <td>{{tableData.durationOfCourse}}</td>
                      <td>{{tableData.fund}}</td>
                      <td>{{tableData.fees}}</td>
                      <td>{{tableData.courseCompletedDate | date:'dd/MM/YYYY'}}</td>
                    </tr>
                  </tbody>
                  
                </table>
              </div>
              <hr>
          <h6 class="modal-title float-left w-100 mt-3 mb-2">Address</h6>
          <div class="col-md-4 px-0 mb-2"><label class="w-100"><b>Address Line </b></label> <br> {{viewEmployeeData.addressLine}}</div>  
          <div class="col-md-4 px-0 mb-2"><label class="w-100"><b>City </b></label> <br> {{viewEmployeeData.city}}</div>  
          <div class="col-md-4 px-0 mb-2"><label class="w-100"><b>Pincode </b></label> <br> {{viewEmployeeData.pincode}}</div>  

          <hr>
          <h6 class="modal-title float-left w-100 mb-2">Officer Details</h6>
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Officer ID</b></label> <br> {{viewEmployeeData.employeeId}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>IFHRMS ID </b></label> <br> {{viewEmployeeData.ifhrmsId}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Date of Joining </b></label> <br> {{viewEmployeeData.dateOfJoining | date:'dd/MM/YYYY'}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Date of Retirement </b></label> <br> {{viewEmployeeData.dateOfRetirement | date:'dd/MM/YYYY'}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Batch </b></label> <br> {{viewEmployeeData.batch}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Recruitment Type </b></label> <br> {{viewEmployeeData.recruitmentType}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Official Mail ID </b></label> <br> {{viewEmployeeData.officeEmail}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Service Status </b></label> <br> {{viewEmployeeData.serviceStatus}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Grade </b></label> <br> {{viewEmployeeData.promotionGrade}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Payscale </b></label> <br> {{viewEmployeeData.payscale}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Seniority Number </b></label> <br> {{viewEmployeeData.seniority}}</div>  
          <hr>
          <div *ngIf="showPosting">
          <h6 class="modal-title float-left w-100 mb-2">Posting Details</h6>
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Posting In</b></label> <br> {{viewEmployeeData.toPostingInCategoryCode}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Department </b></label> <br> {{viewEmployeeData.toDepartmentId}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Address</b></label> <br> {{viewEmployeeData.deptAddress}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Phone </b></label> <br> {{viewEmployeeData.deptPhoneNumber}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Fax</b></label> <br> {{viewEmployeeData.deptFaxNumber}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Mobile </b></label> <br> {{viewEmployeeData.deptOfficialMobileNo}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Designation </b></label> <br> {{viewEmployeeData.toDesignationId}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Posting Type </b></label> <br> {{viewEmployeeData.postTypeCategoryCode}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Location Change </b></label> <br> {{viewEmployeeData.locationChangeCategoryId}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Language Known </b></label> <br> {{viewEmployeeData.languages}}</div>  
          <div class="col-md-3 px-0 mb-3"><label class="w-100"><b>Last Promotion Date</b></label> <br> {{viewEmployeeData.lastDateOfPromotion | date:'dd/MM/YYYY'}}</div>  
          </div>
        </div>

      </div>
    
    </ng-template>
    <ng-template #usernotavailable>
      <div class="modal-body p-3">
        <h4>User Detail Not Available</h4>
      </div>
    </ng-template>

    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary p-2" data-dismiss="modal">Cancel</button>
      </div> -->
  </div>
</div>