
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Officers Tour <button type="button" class="btn btn-success btn-add float-right p-2" data-toggle="modal" data-target="#createOfficerTourModal">Add New</button></h5>

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover my-4 float-left">
  <thead>
    <tr>
      <th>#</th>
      <th>Name of the Officer</th>
      <th>Place </th>
      <th>Official / Private</th>
      <th>From - To Date</th>
      <th>G.O</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td colspan="6" style="color: red; padding: 15px;">No Records Found</td>
      </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>

<app-create-officer-tour></app-create-officer-tour>