<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="typcn typcn-home"></i></a></li>
    <li class="breadcrumb-item" *ngIf="!ifuserlogin"><a routerLink="/officer-tour">Officers tour</a></li>
    <li class="breadcrumb-item"><a><b>Create Officer tour</b></a></li>
</ul>
<div class="col-12 grid-margin">
    <div class="card px-3 mt-2">
        <div class="card-body">
            <h4 class="card-title">Create Officer Tour <span class="float-right">(*) Required</span></h4>
            <form [formGroup]="ltcForm" (ngSubmit)="onSubmit()">
                <div class="row mb-1 mt-2">

                    <!-- new -->
                    <div class="table-responsive">
                        <div formArrayName="OtherOfficers">
                            <div *ngFor="let row of listofemployees.controls; let i = index" [formGroupName]="i"
                                class="card mb-3 mt-2">
                                <div class="card-body" *ngIf="i==0">
                                    <div class="row">
                                        <div class="col-md-12 mb-2 text-right" *ngIf="i !== 0">
                                            <button type="button" class="btn btn-danger p-2"
                                                (click)="removeRow(i)">Delete</button>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-form-label">Officer's
                                                    Name<span>*</span></label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control"
                                                        formControlName="officerName"
                                                        (input)="onInput($event, 'officerName')"
                                                        [ngStyle]="{'border-bottom': (submitted && ltcForm.get('officerName')?.invalid && ltcForm.get('officerName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                                                    <div class="autocomplete-items" *ngIf="showDropdown">
                                                        <div class="option" *ngFor="let option of filteredOptions"
                                                            (click)="selectOptionNew(option,i)">
                                                            {{ option.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-form-label">Department </label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control"
                                                        formControlName="department" readonly
                                                        [ngStyle]="{'border-bottom': (submitted && ltcForm.get('department')?.invalid && ltcForm.get('department')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-sm-12 col-form-label">Designation</label>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control"
                                                        formControlName="designation" readonly
                                                        [ngStyle]="{'border-bottom': (submitted && ltcForm.get('designation')?.invalid && ltcForm.get('designation')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- new -->

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label"> Proposed State to visit <span>*</span></label>
                            <div class="col-sm-12">
                                <select class="form-control" formControlName="state"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('state')?.invalid && ltcForm.get('state')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}"
                                    (change)="get_disctricts($event)">
                                    <option value="">Select</option>
                                    <option *ngFor="let state of states" [value]="state._id">{{state.stateName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label"> Proposed District to visit <span>*</span></label>
                            <div class="col-sm-12">
                                <select class="form-control" formControlName="district" (change)="select_discrict($event)"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('district')?.invalid && ltcForm.get('district')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                                    <option value="">Select</option>
                                    <option *ngFor="let disctrict of disctricts" [value]="disctrict._id">
                                        {{disctrict.districtName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">From<span>*</span></label>
                            <div class="col-sm-12">
                                <input type="date" class="form-control" formControlName="fromDate"
                                    (change)="fromDateValue($event)"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('fromDate')?.invalid && ltcForm.get('fromDate')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">To<span>*</span></label>
                            <div class="col-sm-12">
                                <input type="date" class="form-control" formControlName="toDate" [min]="fromValue"
                                    [readonly]="toDateValue"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('toDate')?.invalid && ltcForm.get('toDate')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Purpose<span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="purpose"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('purpose')?.invalid && ltcForm.get('purpose')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Organisation / Host Name<span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="organisationHostName"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('organisationHostName')?.invalid && ltcForm.get('organisationHostName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label"> Present Status <span>*</span></label>
                            <div class="col-sm-12">
                                <select class="form-control" formControlName="presentStatus"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('presentStatus')?.invalid && ltcForm.get('presentStatus')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                                    <option value="">Select</option>
                                    <option value="Carried out">Carried out</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Reject/ Rescinded Reasons<span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" formControlName="rejectReasons"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('rejectReasons')?.invalid && ltcForm.get('rejectReasons')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                            </div>
                        </div>
                    </div>

                    <div class="sub-title float-left w-100  mx-2 my-2">Order Info</div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Order Type <span>*</span></label>
                            <div class="col-sm-12">
                                <select class="form-control" formControlName="orderType"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('orderType')?.invalid && ltcForm.get('orderType')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                                    <option value="">Select</option>
                                    <option *ngFor="let orderTypeData of orderType" [value]="orderTypeData.value">
                                        {{orderTypeData.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Order No <span>*</span></label>
                            <div class="col-sm-12">
                                <input type="text" maxlength="4" class="form-control" formControlName="orderNo"
                                    (keydown)="onKeyDown($event)"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('orderNo')?.invalid && ltcForm.get('orderNo')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Order For <span>*</span></label>
                            <div class="col-sm-12">
                                <select class="form-control" formControlName="orderFor"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('orderFor')?.invalid && ltcForm.get('orderFor')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let orderForData of orderFor" [value]="orderForData.value">
                                        {{ orderForData.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Date of Order <span>*</span></label>
                            <div class="col-sm-12">
                                <input type="date" class="form-control" formControlName="dateOfOrder"
                                    [ngStyle]="{'border-bottom': (submitted && ltcForm.get('dateOfOrder')?.invalid && ltcForm.get('dateOfOrder')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Order File <span>*</span></label>
                            <div class="col-sm-12">
                                <input type="file" class="form-control pl-0" accept=".pdf" formControlName="orderFile"
                                    (change)="onFileSelected($event)" style="border: none;">
                            </div>
                            <div *ngIf="ltcForm.get('orderFile')?.errors?.['maxSize']"
                                style="font-size: 13px; color: red;" class="pl-2">File size exceeds 5MB</div>
                            <div *ngIf="ltcForm.get('orderFile')?.errors?.['incorrectFileType']">Only PDF files are
                                allowed</div>
                        </div>
                    </div>


                    <div class="col-md-12 p-0 mb-4">
                        <div class="sub-title  float-left w-100 pl-0 my-2">Employees
                            <button type="button" class="btn btn-success px-2 py-2 float-right" style="font-size: 13px;"
                                (click)="addRow()">Add</button>
                        </div>
                        <div class="form-group row float-right">
                            <div class="col-sm-10">
                            </div>
                        </div>

                        <div class="table-responsive">
                            <div formArrayName="OtherOfficers">
                                <div *ngFor="let row of listofemployees.controls; let i = index" [formGroupName]="i"
                                    class="card mb-3 mt-2">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12 mb-2 text-right" *ngIf="i !== 0">
                                                <button type="button" class="btn btn-danger p-2"
                                                    (click)="removeRow(i)">Delete</button>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-12 col-form-label">Officer's
                                                        Name<span>*</span></label>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control"
                                                            formControlName="officerName"
                                                            (input)="onInput($event, 'officerName')"
                                                            [ngStyle]="{'border-bottom': (submitted && ltcForm.get('officerName')?.invalid && ltcForm.get('officerName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                                                        <div class="autocomplete-items" *ngIf="showDropdown">
                                                            <div class="option" *ngFor="let option of filteredOptions"
                                                                (click)="selectOptionNew(option,i)">
                                                                {{ option.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-12 col-form-label">Department </label>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control"
                                                            formControlName="department" readonly
                                                            [ngStyle]="{'border-bottom': (submitted && ltcForm.get('department')?.invalid && ltcForm.get('department')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group row">
                                                    <label class="col-sm-12 col-form-label">Designation</label>
                                                    <div class="col-sm-12">
                                                        <input type="text" class="form-control"
                                                            formControlName="designation" readonly
                                                            [ngStyle]="{'border-bottom': (submitted && ltcForm.get('designation')?.invalid && ltcForm.get('designation')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 float-left w-100 ml-2">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>