<div class="profile-card">
    <div class="profile-content row">
        <!-- First Section -->
        <div class="profile-section1 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                    <rect width="20" height="14" x="2" y="6" rx="2"></rect>
                </svg>
            </div>
            <div>
                <h3 class="name">{{data.name}}</h3>
                <p class="designation">{{data.designation}}</p>
                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="info-icon">
                        <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path>
                        <circle cx="12" cy="10" r="3"></circle>
                    </svg>
                    <span>{{data.location}} ({{data.dateOfJoining | date: 'yyyy'}})</span>
                </div>
            </div>
        </div>

        <!-- Second Section -->
        <div class="profile-section2 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <rect width="16" height="20" x="4" y="2" rx="2" ry="2"></rect>
                    <path d="M9 22v-4h6v4"></path>
                    <path d="M8 6h.01"></path>
                    <path d="M16 6h.01"></path>
                    <path d="M12 6h.01"></path>
                    <path d="M12 10h.01"></path>
                    <path d="M12 14h.01"></path>
                    <path d="M16 10h.01"></path>
                    <path d="M16 14h.01"></path>
                    <path d="M8 10h.01"></path>
                    <path d="M8 14h.01"></path>
                </svg>
            </div>
            <div>
                <h4 class="company">{{data.department}}</h4>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="email-flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="contact-icon">
                                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                            </svg>
                            <span>{{data.officeEmail}}</span>
                        </div>
                        <span>{{data.address}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Section -->
        <div class="profile-section3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="icon-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path d="M8 2v4"></path>
                    <path d="M16 2v4"></path>
                    <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                    <path d="M3 10h18"></path>
                </svg>
            </div>
            <div>
                <h4 class="date-title">Date of Joining</h4>
                <p class="date">{{data.dateOfJoining | date: 'dd-MMM-yyyy'}}</p>
            </div>
        </div>

        <div class="profile-section3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="{{placeHolderPath}}" alt="" width="125px" *ngIf="!data.imagePath">
            <img src="{{url+data.imagePath}}" alt="" width="125px" *ngIf="data.imagePath">
        </div>
    </div>
</div>