.small-collapse{
    height:auto !important;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow{
    color: #fff;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title{
    color: #fff;
}
.sidebar {
    background-color: #115dbb;
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc #115dbb; /* Firefox */
}

/* For Webkit-based browsers (Chrome, Edge, Safari) */
.sidebar::-webkit-scrollbar {
    width: 3px; /* Adjust the width */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Scroll thumb color */
    border-radius: 3px; /* Rounded edges */
}

.sidebar::-webkit-scrollbar-track {
    background-color: #115dbb; /* Track color */
}

.navbar .navbar-brand-wrapper{
    background-color: #115dbb;
}
.sidebar .nav .nav-item.active > .nav-link i{
    color: #fff;
}
.active {
    background-color: #093263;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link{
    background-color: #093263;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link i{
    background-color: #093263;
}
.heading {
    color: rgb(120 53 15 / var(--tw-text-opacity, 1));
    font-size: 1.8rem;
    line-height: 1;
    font-family: 'ui-serif', 'Georgia', 'Cambria', 'Times New Roman', 'Times,serif';
    margin-bottom: 0.5rem;
  }

  .count{
    background-color: red;
    color: #fff;
    padding: 0 5px;
    border-radius: 50%;
  }