.small-collapse{
    height:auto !important;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow{
    color: #fff;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title{
    color: #fff;
}
.sidebar{
    background-color: #115dbb;
    overflow-y: scroll;
    scrollbar-width: none;
}
.navbar .navbar-brand-wrapper{
    background-color: #115dbb;
}
.sidebar .nav .nav-item.active > .nav-link i{
    color: #fff;
}
.active {
    background-color: #093263;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link{
    background-color: #093263;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link i{
    background-color: #093263;
}
.heading {
    color: rgb(120 53 15 / var(--tw-text-opacity, 1));
    font-size: 1.8rem;
    line-height: 1;
    font-family: 'ui-serif', 'Georgia', 'Cambria', 'Times New Roman', 'Times,serif';
    margin-bottom: 0.5rem;
  }