/**************************/
/* HEADER */
/**************************/
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
:root {
  --gradient-start: #fffbeb;
  --gradient-end: #fef3c7;
}

.top-header,
.lower-header {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* height: 120px; */
  padding: 1rem 20px;
  position: relative;
  border-bottom: 1px solid #fde68a;
}

.web-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header {
  align-items: center;
  background: linear-gradient(to right, #fffbeb, #fef3c7);
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 0.7rem;
}

.lower-header {
  /* height: 50px; */
  /* background: linear-gradient(to right, #fffbeb, #fef3c7); */
  background-color: #112A46;
  padding: 0.5rem 138px;
  border-bottom: none;
  /* background-color: #115dbb; */
}

.logo {
  /* height: 3rem; */
  width: 5rem;
}

.Main-title,
.Main-title-sub,
.prp {
  font-size: 1.8rem;
  color: rgb(120 53 15/var(--tw-text-opacity, 1));
  font-weight: 500;
  /* font-family: 'ui-serif', 'Georgia', 'Cambria', 'Times New Roman', 'Times,serif'; */
  font-family: 'Poppins', sans-serif;
  /* text-transform: uppercase; */
  color: #112A46;
  line-height: 1;
}

.prp,.Main-title-sub{
  font-size: 1.1rem;
  line-height: 1;
  text-transform: none;
}

.Main-title-sub {
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
}

.login-list-item {
  display:none ;
}

.brandDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  /* gap: 30px; */
  justify-content: space-between;
}

.lucide {
  transition: all .2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);

}

.lucide:hover {
  transform: scale(1.125);
  /* Scale to 18px (18px / 16px = 1.125) */
  transform-origin: center;
  /* Keeps the transformation centered */
  color: #cf711f;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.55rem;
  text-decoration: none;
  /* color: rgb(120 53 15/var(--tw-text-opacity, 1)); */
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: 'ui-sans-serif', 'system-ui', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  transition: all 0.3s;
}

.main-nav-link.active {
  color: rgb(120 53 15/var(--tw-text-opacity, 1));
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: .425rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgb(146 64 14/var(--tw-bg-opacity, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: rgb(110 48 10 / var(--tw-bg-opacity, 1));
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 30px;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  /* 8rem to px */
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 96px;
  /* 9.6rem to px */
}


.has-submenu {
  position: relative;
}

.dropdown-icon {
  margin-left: 0.25rem;
  transition: transform 0.3s ease;
}


.has-submenu:hover .dropdown-icon {
  transform: rotate(180deg);
}


.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 10;
  padding: 0.5rem 0;
}


.submenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenu-link {
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(120 53 15 / var(--tw-text-opacity, 1));
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.submenu-link:hover {
  background-color: #f3f4f6;
}

.submenu li {
  list-style-type: none;
}

.headers {
  display: block;
  /* text-align: center; */
  /* margin-left: 3rem; */
}
.headers-tab{
  display: none;
}

.heading {
  color: rgb(120 53 15 / var(--tw-text-opacity, 1));
  font-size: 1.8rem;
  line-height: 1;
  font-family: 'ui-serif', 'Georgia', 'Cambria', 'Times New Roman', 'Times,serif';
  margin-bottom: 0.5rem;
}

.sub-title {
  color: rgb(75 85 99/var(--tw-text-opacity, 1));
  font-weight: 500;
  font-size: 1rem;
  /* line-height: 1.75rem; */
  font-family: 'ui-sans-serif', 'system-ui', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@media(max-width:1025px){
  .headers {
    margin-left: 0;
  }
}