<ul class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="typcn typcn-home"></i></a></li>
  <li class="breadcrumb-item"><a routerLink="/officer-profile-list">Officer Profile</a></li>
  <li class="breadcrumb-item"><a><b>Create Officer Profile</b></a></li>
</ul>
<div class="col-md-12">
  <div class="card px-3 mt-0">
    <div class="card-body">
      <h4 class="card-title">Officer Profile<span class="float-right">(*) Required</span></h4>
      <form class="form-sample" [formGroup]="officerForm" (ngSubmit)="onSubmit()">

        <div class="sub-title  float-left w-100 pl-0">Personal Details</div>
        <div class="row mb-1 mt-2">

          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Full Name <span>*</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="fullName"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('fullName')?.invalid && officerForm.get('fullName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Gender <span>*</span></label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="gender">
                  <option value="">Select</option>
                  <option *ngFor="let genderData of gender" [value]="genderData.value">{{genderData.label}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Service Status <span> * </span></label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="serviceStatus" (change)="calculateRetirement()"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('serviceStatus')?.invalid && officerForm.get('serviceStatus')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                  <option value="">Select</option>
                  <option *ngFor="let serviceStatusData of serviceStatus" [value]="serviceStatusData.value">
                    {{serviceStatusData.label}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Date of Birth <span> * </span></label>
              <div class="col-sm-12">
                <!-- <input type="date" class="form-control pl-0" formControlName="dob" 
                  (change)="calculateRetirementDate()" [max]="hideFutureDate()" placeholder="dd/mm/yyyy"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('dob')?.invalid && officerForm.get('dob')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" /> -->

                <input type="date" class="form-control pl-0" formControlName="dateOfBirth"
                  (change)="calculateRetirementDate()" [max]="hideFutureDate()"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('dateOfBirth')?.invalid && officerForm.get('dateOfBirth')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Home State <span>*</span></label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="state"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('state')?.invalid && officerForm.get('state')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                  <option value="">Select</option>
                  <option *ngFor="let stateData of state" [value]="stateData.value">{{stateData.label}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group row">

                <label class="col-sm-12 col-form-label">Seniority Number</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="seniority" (keydown)="onKeyDown($event)"
                  maxlength="10" />
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-1 mt-2">

          <!-- <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Class <span>*</span></label>
                <div class="col-sm-12">
                    <select class="form-control" formControlName="community" 
                    [ngStyle]="{'border-bottom': (submitted && officerForm.get('community')?.invalid && officerForm.get('community')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option *ngFor="let communityData of community" [value]="communityData.value">{{communityData.label}}</option>
                      </select>
                </div>
              </div>
            </div> -->

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Class <span>*</span></label>
              <!-- Removed the * for mandatory indicator -->
              <div class="col-sm-12">
                <select class="form-control" formControlName="community" [ngStyle]="{
                            'border-bottom': (submitted && officerForm.get('community')?.invalid && officerForm.get('community')?.errors?.['required']) 
                            ? '1px solid red' : '1px solid #ccc'
                          }">
                  <option value="">Select</option>
                  <option *ngFor="let communityData of community" [value]="communityData.value">
                    {{ communityData.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Religion<span>*</span></label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="religion">
                  <option value="">Select</option>
                  <option *ngFor="let  ReligionData of religion" [value]="ReligionData.value">{{ReligionData.label}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Caste </label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="caste" />
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Mobile No 1 (Whatsapp) <span *ngIf="servingtype=='' || servingtype=='65f43649a4a01c1cbbd6c9d6'" >*</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="mobileNo1" (keydown)="onKeyDown($event)"
                  maxlength="10"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('mobileNo1')?.invalid && officerForm.get('mobileNo1')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>

          <!-- <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Date of Retirement</label>
              <div class="col-sm-12">
                <input type="text" class="form-control pl-0" formControlName="dateOfRetirement" readonly *ngIf="servingtype=='' || servingtype=='65f43649a4a01c1cbbd6c9d6'"/>
                <input type="date" class="form-control pl-0" formControlName="dateOfRetirement" *ngIf="servingtype=='65f43649a4a01c1cbbd6c9d7'"
                  [max]="hideFutureDate()"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('dateOfRetirement')?.invalid && officerForm.get('dateOfRetirement')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div> -->

        </div>


        <div class="row mb-1 mt-2">

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Mobile No 2</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" maxlength="10" (keydown)="onKeyDown($event)"
                  formControlName="mobileNo2" maxlength="10" />
              </div>
            </div>
          </div>


          <!-- <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Mobile No 3</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" (keydown)="onKeyDown($event)" maxlength="10"
                  formControlName="mobileNo3" />
              </div>
            </div>
          </div> -->

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Landline Number</label>
              <div class="col-sm-12">
                  <input type="text" class="form-control" (keydown)="onKeyDown($event)" maxlength="20" formControlName="mobileNo3" />
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Email ID</label>
              <div class="col-sm-12">
                <!-- <input type="email" class="form-control" formControlName="personalEmail" [ngStyle]="{'border-bottom': (submitted && officerForm.get('personalEmail')?.invalid && officerForm.get('personalEmail')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" /> -->
                  <input type="email" class="form-control" formControlName="personalEmail"/>
              </div>
            </div>
          </div>

        </div>



        <!-- <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Qualification 1</label>
                <div class="col-sm-12">
                    <select class="form-control" formControlName="qualification1">
                        <option value="">Select</option>
                        <option *ngFor="let qualificationData of qualification" [value]="qualificationData.value">{{qualificationData.label}}</option>
                      </select>
                </div>
              </div>
            </div> -->

        <!-- <div class="row mb-1 mt-2">
              <div class="col-md-12">
              <label class="col-form-label mt-2">Qualification</label>
              <div class="form-group row float-right">
                <div class="col-sm-10">
                  <button type="button" class="btn btn-success px-2" style="font-size: 13px;" (click)="addRow()">Add</button>
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <td class="py-2"><label class="col-form-label pt-0"><b>Degree</b></label></td>
                    <td class="py-2"><label class="col-form-label pt-0"><b>Stream</b></label></td>
                  </tr>
                </thead>
                <tbody formArrayName="degreeData">
                  <tr *ngFor="let row of degreeDetailsFormArray.controls; let i = index" [formGroupName]="i">
                    <td>
                      <select class="form-control" formControlName="degree">
                        <option value="">Select</option>
                        <option *ngFor="let degreeData of degree" [value]="degreeData.value">{{degreeData.label}}</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control w-75 float-left" formControlName="stream">
                      <i class="typcn typcn-trash float-left trash" *ngIf="i !== 0" (click)="removeRow(i)"></i>
                    </td>
                    
                  </tr>
                </tbody>
                
              </table>
            </div>
            </div> -->

        <div class="col-md-12 p-0 mb-4">
          <div class="sub-title  float-left w-100 pl-0 my-2">Qualification
            <button type="button" class="btn btn-success px-2 py-2 float-right" style="font-size: 13px;"
              (click)="addRow()">Add</button>
          </div>
          <div class="form-group row float-right">
            <div class="col-sm-10">
              <!-- <button type="button" class="btn btn-success px-2 py-2" style="font-size: 13px;" (click)="addEducation()">Add</button> -->
            </div>
          </div>

          <div class="table-responsive">
            <!-- <table class="table">
                <thead>
                  <tr>
                    <th class="py-2"><label class="col-form-label pt-0"><b>Course Level</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b>Specialisation</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b>Institute Name</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> State</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Country</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Duration of Course</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Fund</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Fee</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Completed Date</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Completed Year</b></label></th>
                    <th class="py-2"><label class="col-form-label pt-0"><b> Action</b></label></th>
                  </tr>
                </thead>
                <tbody formArrayName="degreeData">
                  <tr *ngFor="let row of degreeDetailsFormArray.controls; let i = index" [formGroupName]="i">
                    
                    <td class="coursew">
                      <select class="form-control" formControlName="courseLevel" 
                    [ngStyle]="{'border-bottom': (submitted && officerForm.get('courseLevel')?.invalid && officerForm.get('courseLevel')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option value="UG">UG</option>
                        <option value="PG">PG</option>
                        <option value="Certificate Course">Certificate Course</option>
                    </select>
                    </td>

                    <td class="tdw">
                      <input type="text" class="form-control  float-left" formControlName="specialisation">
                    </td>

                    <td class="tdw">
                      <input type="text" class="form-control  float-left" formControlName="instituteName">
                    </td>

                    <td class="tdw">
                      <select class="form-control" formControlName="locationState" 
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('locationState')?.invalid && officerForm.get('locationState')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" >
                        <option value="">Select</option>
                        <option *ngFor="let stateData of state" [value]="stateData.value">{{stateData.label}}</option>
                      </select>
                    </td>

                    <td class="tdw">
                      <select class="form-control" formControlName="locationCountry" 
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('locationCountry')?.invalid && officerForm.get('locationCountry')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" >
                        <option value="">Select</option>
                        <option *ngFor="let countryData of country" [value]="countryData.value">{{countryData.label}}</option>
                      </select>
                    </td>

                    <td class="durationw">
                      <select class="form-control" formControlName="durationOfCourse"
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('durationOfCourse')?.invalid && officerForm.get('durationOfCourse')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" >
                        <option value="">Select</option>
                        <option *ngFor="let courseDurationData of courseDuration" [value]="courseDurationData">{{courseDurationData}}</option>
                      </select>
                    </td>

                    <td class="tdw">
                      <select class="form-control ml-2" formControlName="fund" 
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('fund')?.invalid && officerForm.get('fund')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                          <option value="">Select</option>
                          <option value="Self">Self</option>
                          <option value="State Government">State Government</option>
                          <option value="Central Government">Central Government</option> 
                          <option value="Organisation">Organisation</option>  
                          <option value="University">University</option>  
                          <option value="Others">Others</option>  
                      </select>
                    </td>


                    <td class="tdw">
                      <input type="number" class="form-control  float-left" formControlName="fees">
                    </td>

                    <td class="tdw">
                      <input type="date" class="form-control  float-left" formControlName="courseCompletedDate">
                    </td>

                    <td>
                      <input type="number" class="form-control float-left" formControlName="courseCompletedYear"  placeholder="YYYY">
                    </td>

                    <td>
                      <i class="typcn typcn-trash float-left trash" *ngIf="i !== 0" (click)="removeRow(i)"></i>

                    </td>
                  </tr>
                </tbody>
              </table> -->


            <div formArrayName="degreeData">
              <div *ngFor="let row of degreeDetailsFormArray.controls; let i = index" [formGroupName]="i"
                class="card mb-3 mt-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 mb-2 text-right" *ngIf="i !== 0">
                      <button type="button" class="btn btn-danger p-2" (click)="removeRow(i)">Delete</button>
                      <!-- <i class="typcn typcn-trash trash" *ngIf="i !== 0" (click)="removeRow(i)"></i> -->
                    </div>
                    <div class="col-md-2 mb-2">
                      <label><b>Course Level</b></label>
                      <select class="form-control" formControlName="courseLevel"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('courseLevel')?.invalid && officerForm.get('courseLevel')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option value="UG">UG</option>
                        <option value="PG">PG</option>
                        <option value="Certificate Course">Certificate Course</option>
                      </select>
                    </div>

                    <div class="col-md-3 mb-2">
                      <label><b>Degree</b></label>
                      <select class="form-control" formControlName="degree">
                        <option value="">Select</option>
                        <option *ngFor="let degreeData of degree" [value]="degreeData.value">{{degreeData.label}}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-3 mb-2">
                      <label><b>Specialisation</b></label>
                      <input type="text" class="form-control" formControlName="specialisation">
                    </div>

                    <div class="col-md-4 mb-2">
                      <label><b>Institute Name</b></label>
                      <input type="text" class="form-control" formControlName="instituteName">
                    </div>

                    <div class="col-md-3 mt-2">
                      <label><b>State</b></label>
                      <select class="form-control" formControlName="locationState"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('locationState')?.invalid && officerForm.get('locationState')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option *ngFor="let stateData of state" [value]="stateData.value">{{stateData.label}}</option>
                      </select>
                    </div>

                    <div class="col-md-3 mt-2">
                      <label><b>Country</b></label>
                      <select class="form-control" formControlName="locationCountry"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('locationCountry')?.invalid && officerForm.get('locationCountry')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option *ngFor="let countryData of country" [value]="countryData.value">{{countryData.label}}
                        </option>
                      </select>
                    </div>

                    <div class="col-md-2 mt-2">
                      <label><b>Duration of Course</b></label>
                      <select class="form-control" formControlName="durationOfCourse"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('durationOfCourse')?.invalid && officerForm.get('durationOfCourse')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option *ngFor="let courseDurationData of courseDuration" [value]="courseDurationData">
                          {{courseDurationData}}</option>
                      </select>
                    </div>

                    <div class="col-md-2 mt-2">
                      <label><b>Fund</b></label>
                      <select class="form-control" formControlName="fund"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('fund')?.invalid && officerForm.get('fund')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                        <option value="Self">Self</option>
                        <option value="State Government">State Government</option>
                        <option value="Central Government">Central Government</option>
                        <option value="Organisation">Organisation</option>
                        <option value="University">University</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>

                    <div class="col-md-2 mt-2">
                      <label><b>Fee</b></label>
                      <input type="number" class="form-control" formControlName="fees">
                    </div>

                    <div class="col-md-3 mt-4">
                      <label><b>Completed Date & Year</b></label>
                      <input type="date" class="form-control date-input" formControlName="courseCompletedDate"
                        [max]="hideFutureDate()" (change)="getCompletedYear(i)">
                      <input type="number" class="form-control year-input" formControlName="courseCompletedYear"
                        readonly="true" placeholder="YYYY">
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>


          <!-- <div class="col-md-12 p-0">
                <div class="card p-2">
                  <div  class="row col-md-12 pl-2">
                    <div class="col-md-3">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Course Level</label>
                        <div class="col-sm-12">
                          <select class="form-control" formControlName="courseLevel" 
                          [ngStyle]="{'border-bottom': (submitted && officerForm.get('courseLevel')?.invalid && officerForm.get('courseLevel')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                              <option value="">Select</option>
                              <option value="UG">UG</option>
                              <option value="PG">PG</option>
                              <option value="Certificate Course">Certificate Course</option>
                          </select> 
                        </div>
                      </div>
                    </div>

                   <div class="col-md-3">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Specialisation</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control  float-left" formControlName="specialisation"
                            [ngStyle]="{'border-bottom': (submitted && officerForm.get('specialisation')?.invalid && officerForm.get('specialisation')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                          </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Institute Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control  float-left" formControlName="instituteName"
                            [ngStyle]="{'border-bottom': (submitted && officerForm.get('instituteName')?.invalid && officerForm.get('instituteName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2 px-0">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">State</label>
                        <div class="col-sm-12">
                          <select class="form-control" formControlName="locationState" 
                          [ngStyle]="{'border-bottom': (submitted && officerForm.get('locationState')?.invalid && officerForm.get('locationState')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" >
                            <option value="">Select</option>
                            <option *ngFor="let stateData of state" [value]="stateData.value">{{stateData.label}}</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Country</label>
                        <div class="col-sm-12">
                          <select class="form-control" formControlName="locationCountry" 
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('locationCountry')?.invalid && officerForm.get('locationCountry')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" >
                        <option value="">Select</option>
                        <option *ngFor="let countryData of country" [value]="countryData.value">{{countryData.label}}</option>
                      </select>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-2">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Duration of Course	</label>
                        <select class="form-control pl-1" formControlName="durationOfCourse"
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('durationOfCourse')?.invalid && officerForm.get('durationOfCourse')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" >
                        <option value="">Select</option>
                        <option *ngFor="let courseDurationData of courseDuration" [value]="courseDurationData">{{courseDurationData}}</option>
                      </select>
                      </div>
                    </div>


                    <div class="col-md-2">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Fund</label>
                        <select class="form-control ml-2" formControlName="fund" 
                      [ngStyle]="{'border-bottom': (submitted && officerForm.get('fund')?.invalid && officerForm.get('fund')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                          <option value="">Select</option>
                          <option value="Self">Self</option>
                          <option value="State Government">State Government</option>
                          <option value="Central Government">Central Government</option> 
                          <option value="Organisation">Organisation</option>  
                          <option value="University">University</option>  
                          <option value="Others">Others</option>  
                      </select>
                      </div>
                    </div>

                    <div class="col-md-2 ml-2">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Fee</label>
                        <input type="number" class="form-control  float-left" formControlName="fees"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('fees')?.invalid && officerForm.get('fees')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label pl-0 pb-2">Completed Date	</label>
                        <input type="date" class="form-control  float-left" formControlName="courseCompletedDate" [max]="hideFutureDate()" (change)="getCompletedYear()"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('courseCompletedDate')?.invalid && officerForm.get('courseCompletedDate')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                      </div>
                    </div>

                    <div class="col-md-1">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label pl-0"> Year	</label>
                        <input type="number" class="form-control float-left" formControlName="courseCompletedYear" readonly="true" placeholder="YYYY"
                        [ngStyle]="{'border-bottom': (submitted && officerForm.get('courseCompletedYear')?.invalid && officerForm.get('courseCompletedYear')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                      </div>
                    </div>


                  </div>
                </div>
             </div>

             <div class="card p-2 mt-4" *ngIf="showEducation">
              <div *ngFor="let edu of educationDetail; let i = index" class="card p-2 mt-4">
                <div class="col-md-12">
                  <button class="btn btn-danger p-2 float-right" (click)="confirmDelete(i)">Delete</button>
                </div>
              <div  class="row col-md-12 pl-2">
               <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Course Level</b></label>
                    <div class="col-sm-12">
                     {{edu.courseLevel}}
                    </div>
                  </div>
                </div>

               <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Specialisation</b></label>
                    <div class="col-sm-12">{{edu.specialisation}}</div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Institute Name</b></label>
                    <div class="col-sm-12">{{edu.instituteName}}</div>
                  </div>
                </div>

                <div class="col-md-2 px-0">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>State</b></label>
                    <div class="col-sm-12">{{edu.locationState}}</div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Country</b></label>
                    <div class="col-sm-12">{{edu.locationCountry}}</div>
                  </div>
                </div>


                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Duration of Course	</b></label>
                    <div class="col-md-12">{{edu.durationOfCourse}}</div>
                  </div>
                </div>


                <div class="col-md-3">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Fund</b></label>
                    <div class="col-md-12">{{edu.fund}}</div>
                  </div>
                </div>

                <div class="col-md-2 ml-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Fee</b></label>
                    <div class="col-md-12">{{edu.fees}}</div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Completed Date</b>	</label>
                    <div class="col-md-12">{{edu.courseCompletedDate}}</div>
                  </div>
                </div>

                <div class="col-md-1">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"> <b>Year</b>	</label>
                    <div class="col-md-12">{{edu.courseCompletedYear}}</div>
                  </div>
                </div>

                </div>
              </div>
             </div> -->
        </div>





        <div class="row mb-1 mt-2">
          <div class="sub-title  float-left w-100 mb-2 pl-2">Residential Address</div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Address Line <span>*</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="addressLine"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('addressLine')?.invalid && officerForm.get('addressLine')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>




          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">City <span>*</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="city"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('city')?.invalid && officerForm.get('city')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Pincode <span>*</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" (keydown)="onKeyDownPincode($event)" formControlName="pincode"
                  maxlength="6"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('pincode')?.invalid && officerForm.get('pincode')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 px-0">
          <label class="col-form-label px-0 float-left w-100">Photo <span>*</span></label>
          <input type="file" class="form-control float-left w-auto" accept=".jpg, .jpeg, .png, .tiff,.tif, .pdf"
            formControlName="photo" (change)="onFileSelected($event)" style="border: none;" />
        </div>
        <div class="col-md-2 image-preview mt-2 float-left position-relative" *ngIf="selectedImage">
          <img [src]="selectedImage" alt="Selected Image" class="img-fluid" />
          <i class="mdi mdi-close p-1" style="color: white; background: red; position: absolute;"
            (click)="removeImage()"></i>
        </div>


        <div class="row mb-1 mt-3 float-left w-100">
          <div class="sub-title  float-left w-100 pl-2">Officer Details</div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Officer ID </label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="employeeId" maxlength="6"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('employeeId')?.invalid && officerForm.get('employeeId')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>



          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Date of Joining <span>*</span></label>
              <div class="col-sm-12">
                <input type="date" class="form-control pl-0" formControlName="dateOfJoining" [max]="hideFutureDate()"
                  (change)="getYear()"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('dateOfJoining')?.invalid && officerForm.get('dateOfJoining')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}"
                  placeholder="" />
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Date of Retirement</label>
              <div class="col-sm-12">
                <input type="text" class="form-control pl-0" formControlName="dateOfRetirement" readonly *ngIf="servingtype=='' || servingtype=='65f43649a4a01c1cbbd6c9d6'"/>
                <input type="date" class="form-control pl-0" formControlName="dateOfRetirement" *ngIf="servingtype=='65f43649a4a01c1cbbd6c9d7'"
                  [max]="hideFutureDate()"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('dateOfRetirement')?.invalid && officerForm.get('dateOfRetirement')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
            </div>
          </div>


          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Batch</label>
              <div class="col-sm-12">
                <input type="text" readonly formControlName="batch" class="form-control" />
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Recruitment Type <span> * </span></label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="recruitmentType"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('recruitmentType')?.invalid && officerForm.get('recruitmentType')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                  <option value="">Select</option>
                  <option *ngFor="let recruitmentData of recruitment" [value]="recruitmentData.value">
                    {{recruitmentData.label}}</option>
                </select>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Official Mail ID</label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" formControlName="officeEmail"
                    [ngStyle]="{'border-bottom': (submitted && officerForm.get('officeEmail')?.invalid && officerForm.get('officeEmail')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                </div>
              </div>
            </div> -->
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Official Mail ID</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" formControlName="officeEmail" />
              </div>
            </div>
          </div>


          <!-- <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Service Status <span> * </span></label>
                <div class="col-sm-12">
                    <select class="form-control" formControlName="serviceStatus" 
                    [ngStyle]="{'border-bottom': (submitted && officerForm.get('serviceStatus')?.invalid && officerForm.get('serviceStatus')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                        <option value="">Select</option>
                       <option *ngFor="let serviceStatusData of serviceStatus" [value]="serviceStatusData.value">{{serviceStatusData.label}}</option>
                      </select>
                </div>
              </div>
            </div> -->

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Grade<span> * </span></label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="promotionGrade" (change)="changeGrade($event)"
                  [ngStyle]="{'border-bottom': (submitted && officerForm.get('promotionGrade')?.invalid && officerForm.get('promotionGrade')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                  <option value="">Select</option>
                  <option *ngFor="let promotionGradeData of grade" [value]="promotionGradeData.value">
                    {{promotionGradeData.label}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Payscale</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="payscale">

              </div>
            </div>
          </div>

        </div>

        <div class="my-3 float-left w-100">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button type="reset" class="btn btn-light">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>