<div class="officials-card">
    <!-- <h3 class="title">Administrative Leaders of Tamil Nadu</h3> -->
    <div class="inner-card">
        <div class="official">
            <h3 class="officials-title">
                Hon'ble Chief Minister
            </h3>
            <img src="assets/images/cm.jpg" alt="" class="mb-3 of-img">
            <h3 class="officials-title">
                M. K. Stalin
            </h3>
        </div>
        <div class="official">
            <h3 class="officials-title">
                Hon'ble Deputy Chief Minister
            </h3>
            <img src="assets/images/DCM.jpeg" alt="" class="mb-3 of-img">
            <h3 class="officials-title">
                Udhayanidhi Stalin
            </h3>
        </div>
    </div>
    <div class="inner-card">
        <div class="official">
            <h3 class="officials-title">
                Hon'ble Chief Secretary
            </h3>
            <img src="assets/images/ias/1737455265521.jpeg" alt="" class="mb-3 of-img">
            <h3 class="officials-title">
                N. Muruganandam IAS
            </h3>
        </div>
    </div>
</div>