
<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5>Ministry of Home Affairs ID Card<button type="button" class="btn btn-success btn-add float-right p-2" (click)="addNew()">Add New</button></h5>

<div class="col-md-12 p-0 mt-2">
        <div class="col-md-3 px-0 mt-2 mb-0">
          <input type="text" [(ngModel)]="filterText" class="form-control pl-2" placeholder="Search...">
        </div>

        <app-shared></app-shared>
      </div>
<div class="table-responsive">
<table id="table-to-export" class="table table-bordered table-striped table-hover my-4 float-left">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Designation</th>
      <th>ID Card No</th>
      <th> Availed Date </th>
      <th>Expiry Date</th>
      <th>Submitted By </th>
      <th>Approved By</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    
  </thead>
  <tbody>
    <ng-container *ngIf="filteredEmployeeList.length > 0; else noRecords">
      <tr *ngFor="let data of pagedData(); let i = index">
        <td>{{i + 1}}</td>
        <td>{{data.officerName}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.idCardNo}}</td>
        <td>{{data.availedDate | date:'dd/MM/YYYY'}}</td>
        <td>{{data.expiryDate | date:'dd/MM/YYYY'}}</td>
        <td>{{ data.submittedBy?.username}} ({{ data.submittedBy?.loginAs}})</td>
        <td> <span *ngIf="data.approvalStatus">{{data.approvedBy?.username}} ({{ data.approvedBy?.loginAs}})</span> </td>
        <td>{{data.approvalStatus ? 'Approved' : 'Not Approved'}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-info p-2 mr-2" (click)="editIdCard(data._id)">Edit</button>
          <button type="button" class="btn btn-info p-2" style="font-size: 12px;" data-toggle="modal" data-target="#viewIdData" (click)="viewIdCard(data._id)">View</button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noRecords>
      <tr>
        <td colspan="13" style="color: red;">No records found</td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>
</div>
</div>
</div>

  
<div class="modal fade" id="viewIdData" tabindex="-1" aria-labelledby="viewIdDataLabel" aria-hidden="true" *ngIf="showPopup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewIdDataLabel">View Ministry of Home Affairs ID Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">

        <div class="col-md-12 p-0">
          <div class="col-md-6 px-0 mb-2"><label class="w-100"><b>Name </b></label> <br> {{viewIdData.officerName}}</div>
          <div class="col-md-6 px-0 mb-2"><label class="w-100"><b>Department </b></label> <br>{{viewIdData.department}}
          </div>
          <div class="col-md-6 px-0 mt-3"><label class="w-100"><b>Designation</b></label><br>{{viewIdData.designation}}</div>
          <div class="col-md-6 px-0 mt-3"><label class="w-100"><b>ID Card No</b></label><br>{{viewIdData.idCardNo}}</div>
          <div class="col-md-6 px-0 mt-3"><label class="w-100"><b>Availed Date </b></label><br>{{viewIdData.availedDate | date:'dd/MM/YYYY'}}</div>
          <div class="col-md-6 px-0 mt-3"><label class="w-100"><b>ID Card Expire Date</b></label><br>{{viewIdData.expiryDate  | date:'dd/MM/YYYY'}}</div>
          <div class="col-md-6 px-0 mt-3"><label class="w-100"><b>ID Card Application</b></label><br>
            <a href="{{url}}{{viewIdData.idCardApplication}}" target="_blank" class="btn btn-primary py-2">View</a>
          </div>
          <div class="col-md-6 px-0 mt-3"><label class="w-100"><b>Final ID Card</b></label><br>
            <a href="{{url}}{{viewIdData.finalIdCard}}" target="_blank" class="btn btn-primary py-2">View</a>
          </div>
          <hr>
          <h6 class="modal-title float-left w-100 mb-2">Order Information</h6>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Order Type </b></label> <br> {{viewIdData.orderType}}
          </div>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Order No </b></label> <br> {{viewIdData.orderNo}}
          </div>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Order For </b></label> <br> {{viewIdData.orderFor}}
          </div>
          <div class="col-md-3 px-0 mb-2"><label class="w-100"><b>Date of Order </b></label> <br>
            {{viewIdData.dateOfOrder | date:'dd/MM/yyyy'}}</div>
          <div class="col-md-3 px-0 mt-3"><label class="w-100"><b>Order File</b></label> <br>
            <a href="{{url}}{{viewIdData.orderFile}}" target="_blank" class="btn btn-primary py-2">View</a>
          </div>
          <div class="col-md-3 px-0 mt-3"><label class="w-100"><b>Remarks </b></label> <br> {{viewIdData.remarks}}
          </div>

        </div>



      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success py-2 px-3" *ngIf="showApprove && !viewIdData.approvalStatus"
          (click)="approveLtc(viewIdData)">Approve</button> -->
        <button type="button" class="btn btn-secondary py-2 px-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>