.modal-dialog{
    max-width: 800px;
}
.text-color{
    color: #202b46;
}
.card{
    margin-top:40px;
}
.btn-filter{
    padding: 7px 14px;
}
.dropdown-menu{
    padding: 10px 15px;
}
.close-icon{
    cursor:pointer;
}