/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
    padding: 96px 0;
}
.oran-color{
    color: #e67e22 !important;
}
.meal {
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    width: 100%; /* Ensure the container is full-width (or adjust as needed) */
    text-align: center; /* This will center block-level elements inside the container */
}

.meal:hover {
    transform: translateY(-12px);
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 32px 48px 48px 48px;
}

.meal-tags {
    margin-bottom: 12px;
    display: flex;
    gap: 4px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}
.tag--vegan {
    background-color: #94d82d;
}
.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 32px;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meal-attribute {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.meal-icon {
    height: 24px;
    width: 24px;
    color: #e67e22;
}

.meal-img {
    width: 40%; /* Adjust as needed */
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
}

.all-recipes {
    text-align: center;
    font-size: 18px;
}
