<section class="section-meals">
    <div class="container center-text mb-5">
        <span class="heading-secondary">Services</span>
        <h2 class="subheading mt-3">
            This Section contains the Circulars, Acts & Rules, Utility Forms, FAQs, List of IAS Officers and List of Retired Officers
        </h2>
    </div>

    <div class="container grid grid--3-cols margin-bottom-md">
        <div class="meal">
            <img src="../../../assets/images/departments/department1.png" class="meal-img" alt="department1" />
            <div class="meal-content">
                <p class="meal-title">Circular</p>
                <p class="meal-title oran-color">14</p>
            </div>
        </div>

        <div class="meal">
            <img src="../../../assets/images/departments/departement2.png" class="meal-img" alt="department2" />
            <div class="meal-content">
                <p class="meal-title">Acts & Rules</p>
                <p class="meal-title oran-color">14</p>
            </div>
        </div>

        <div class="meal">
            <img src="../../../assets/images/departments/departement3.png" class="meal-img" alt="departement3" />
            <div class="meal-content">
                <p class="meal-title">Utility Forms & FAQs</p>
                <p class="meal-title oran-color">49 & 13</p>
            </div>
        </div>

        <div class="meal">
            <img src="../../../assets/images/departments/departement4.png" class="meal-img" alt="departement4" />
            <div class="meal-content">
                <p class="meal-title">Roll of Honour</p>
                <p class="meal-title oran-color">30</p>
            </div>
        </div>

        <div class="meal">
            <img src="../../../assets/images/departments/departement5.png" class="meal-img" alt="departement5" />
            <div class="meal-content">
                <p class="meal-title">IAS Officers RR/SCS</p>
                <p class="meal-title oran-color">232 / 87</p>
            </div>
        </div>
        
        <div class="meal">
            <img src="../../../assets/images/departments/departement6.png" class="meal-img" alt="departement6" />
            <div class="meal-content">
                <p class="meal-title">Retired Officers</p>
                <p class="meal-title oran-color">397</p>
            </div>
        </div>

    </div>
</section>