
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="typcn typcn-home"></i></a></li>
    <li class="breadcrumb-item"><a routerLink="/role">Role</a></li>
    <li class="breadcrumb-item"><a><b>Create Role</b></a></li>
  </ul>

  <div class="col-12 grid-margin">
    <div class="card px-3 mt-2">
      <div class="card-body">
        <h4 class="card-title">Create Role <span class="float-right">(*) Required</span></h4>
        <!-- <form [formGroup]="roleForm" (ngSubmit)="onRoleSubmit()">
    
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">User Type<span> * </span></label>
                <div class="col-sm-3 mb-3">
                  <select class="form-control pl-1" style="border:1px solid #ccc;">
                    <option value="">Select</option>
                    <option value="Spl A - SO">Spl A - SO</option>
                    <option value="Spl B - SO">Spl B - SO</option>
                    <option value="Spl A - ASO">Spl A - ASO</option>
                    <option value="Spl A - ASO">Spl B - ASO</option>
                    <option value="IAS Officer">IAS Officer</option>
                    <option value="Super Admin">Super Admin</option>
                  </select>
                </div>

                <div class="col-sm-9">
                    <label class="radio-inline mr-4 float-right"><input type="checkbox" class="mr-1 mt-1 float-left" value="Check All" formControlName="access">Check All</label>
                </div>
              </div>
    
              <div class="col-md-12 pl-0">
              <div class="form-group row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-striped mb-4">
                        <thead>
                          <th style="width: 20px;">#</th>
                          <th style="width:50%;"><b>Role</b></th>
                          <th><b>Access</b></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Dashboard</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                </td>
                            </tr>

                            <tr>
                                <td>2.</td>
                                <td>Transfer / Posting</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>3.</td>
                                <td>Promotion</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>4.</td>
                                <td>Leave</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>5.</td>
                                <td>Training</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>6.</td>
                                <td>Foreign Visit</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>7.</td>
                                <td>SAF Games Village Application</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>8.</td>
                                <td>SAF Games Village Allocation</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>9.</td>
                                <td>Leave Travel Concession</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>10.</td>
                                <td>Medical Reimbursement</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>11.</td>
                                <td>Private Visits</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>12.</td>
                                <td>Immovable</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>Movable</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>14.</td>
                                <td>Education</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>15.</td>
                                <td>Intimation</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Approve</label>
                                </td>
                            </tr>

                            <tr>
                                <td>16.</td>
                                <td>Master Creation</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                </td>
                            </tr>

                            <tr>
                                <td>17.</td>
                                <td>User</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                </td>
                            </tr>

                            <tr>
                                <td>18.</td>
                                <td>Role</td>
                                <td>                  
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">All</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">Entry</label>
                                    <label class="radio-inline mr-4"><input type="checkbox" class="mr-1  float-left" value="View" formControlName="access">View</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
              </div>
            </div>            
                  
        </form> -->
      
        <form [formGroup]="roleForm" (ngSubmit)="onRoleSubmit()">
          <div class="form-group row">
            <label class="col-sm-12 col-form-label">User Type<span> * </span></label>
            <div class="col-sm-3 mb-3">
              <select class="form-control pl-1" style="border:1px solid #ccc;" formControlName="roleName"
              [ngStyle]="{'border': (submitted && roleForm.get('roleName')?.invalid && roleForm.get('roleName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                <option value="">Select</option>
                <option *ngFor="let role of roleData" [value]="role.loginAs">{{role.loginAs}}</option>
              </select>
            </div>
          
            <div class="col-sm-9">
              <label class="radio-inline mr-4 float-right">
                <input type="checkbox" class="mr-1 mt-1 float-left" formControlName="checkAll" (change)="onCheckAllChange()">Check All
              </label>
            </div>
          </div>
          
          <div class="col-md-12 pl-0">
            <div class="form-group row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover table-striped mb-4">
                  <thead>
                    <tr>
                      <th style="width: 20px;">#</th>
                      <th style="width:50%;"><b>Role</b></th>
                      <th><b>Access</b></th>
                    </tr>
                  </thead>
                  <tbody formArrayName="roles">
                    <tr *ngFor="let roleGroup of roleFormArray.controls; let i = index" [formGroupName]="i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ roleGroup.get('menu')?.value }}</td>
                      <td>
                        <ng-container *ngIf="roleGroup.get('menu')?.value === 'Dashboard'; else allCheckboxes">
                          <label class="radio-inline mr-4">
                            <input type="checkbox" class="mr-1 float-left" formControlName="viewAccess">View
                          </label>
                        </ng-container>
                        <ng-template #allCheckboxes>
                          <label class="radio-inline mr-4">
                            <input type="checkbox" class="mr-1 float-left" formControlName="allAccess" (change)="onAllChange(i)">All
                          </label>
        
                          <label class="radio-inline mr-4">
                            <input type="checkbox" class="mr-1 float-left" formControlName="entryAccess" (click)="preventCheck($event, i)" [readonly]="readonly">Entry
                          </label>

                          <ng-container *ngIf="!['Master Creation'].includes(roleGroup.get('menu')?.value)">
                          <label class="radio-inline mr-4">
                            <input type="checkbox" class="mr-1 float-left" formControlName="editAccess" (click)="preventCheck($event, i)" [readonly]="readonly">Edit
                          </label>
                          </ng-container>
        
                          <ng-container *ngIf="!['Role'].includes(roleGroup.get('menu')?.value)">
                          <label class="radio-inline mr-4">
                            <input type="checkbox" class="mr-1 float-left" formControlName="viewAccess" (click)="preventCheck($event, i)" [readonly]="readonly">View
                          </label>
                          </ng-container>
        
                          <ng-container *ngIf="!['Master Creation', 'User', 'Role'].includes(roleGroup.get('menu')?.value)">
                            <label class="radio-inline mr-4">
                              <input type="checkbox" class="mr-1 float-left" formControlName="approveAccess" (click)="preventCheck($event, i)" [readonly]="readonly">Approve
                            </label>
                          </ng-container>
                        </ng-template>
                      </td>
                    </tr>
                  </tbody>
                </table>
        
                <div class="float-left w-100">
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button type="button" class="btn btn-light" click="resetValues()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        
          
       </div>
    </div>
</div>

