<ul class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="typcn typcn-home"></i></a></li>
  <li class="breadcrumb-item" *ngIf="!ifuserlogin"><a routerLink="/hba">HBA</a></li>
  <li class="breadcrumb-item"><a><b>Edit House Building Advance </b></a></li>
</ul>
<div class="col-12 grid-margin">
  <div class="card px-3 mt-2">
    <div class="card-body">
      <h4 class="card-title">Edit HBA <span class="float-right">(*) Required</span></h4>
      <form [formGroup]="hbaForm" (ngSubmit)="onSubmit()">
        <div class="row mb-1 mt-2">

          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Full Name <span>*</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="officerName"  (input)="onInput($event, 'officerName')" [value]="selectedOption"
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('officerName')?.invalid && hbaForm.get('officerName')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                  <div class="autocomplete-items" *ngIf="showDropdown">
                    <div class="option" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                        {{ option.name }}
                    </div>
                </div>
                </div>
             </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Department </label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="department"  readonly
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('department')?.invalid && hbaForm.get('department')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
             </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Designation</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="designation" readonly
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('designation')?.invalid && hbaForm.get('designation')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
             </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Place of Property (State) </label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="state" (change)="getState($event)"
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('state')?.invalid && hbaForm.get('state')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                      <option value="">Select</option>
                      <option *ngFor="let stateData of State" [value]="stateData.value">{{stateData.label}}</option>
                  </select>
                 </div>
             </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Place of Property (District)</label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="district" 
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('district')?.invalid && hbaForm.get('district')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                      <option value="">Select</option>
                      <option *ngFor="let districtData of district" [value]="districtData.value">{{districtData.label}}</option>
                  </select>
              </div>
             </div>
          </div>

          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">HBA Availed for TNHB </label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="hbaAvailedFor" 
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('hbaAvailedFor')?.invalid && hbaForm.get('hbaAvailedFor')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                    <option value="">Select</option>
                    <option *ngFor="let hbaAvailedData of hbaAvailed" [value]="hbaAvailedData._id">{{hbaAvailedData.category_name}}</option>
                </select>
              </div>
             </div>
          </div>
          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Type of Property  </label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="typeOfProperty" 
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('typeOfProperty')?.invalid && hbaForm.get('typeOfProperty')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                    <option value="">Select</option>
                    <option *ngFor="let typeOfPropertyData of typeOfProperty" [value]="typeOfPropertyData._id">{{typeOfPropertyData.category_name}}</option>
                </select>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Date of Application </label>
              <div class="col-sm-12">
                <input type="date" class="form-control"  formControlName="dateOfApplication"
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('dateOfApplication')?.invalid && hbaForm.get('dateOfApplication')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
            </div>

            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label"> Total Cost of Property </label>
              <div class="col-sm-12">
                <input type="number" class="form-control"  formControlName="totalCostOfProperty" (keydown)="onKeyDown($event)"
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('totalCostOfProperty')?.invalid && hbaForm.get('totalCostOfProperty')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
            
            </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label"> Any Exisiting Residence  </label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="isExisingResidenceAvailable" (change)="getResidence($event)"
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('isExisingResidenceAvailable')?.invalid && hbaForm.get('isExisingResidenceAvailable')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                    <option value="">Select</option>
                    <option *ngFor="let existingResidenceData of existingResidence" [value]="existingResidenceData">{{existingResidenceData}}</option>
                </select>
            </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">2B Relaxation </label>
              <div class="col-sm-12">
                <input type="text" class="form-control"  formControlName="twoBRelacation"  readonly/>
                <!-- <select class="form-control" formControlName="twoBRelacation"
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('twoBRelacation')?.invalid && hbaForm.get('twoBRelacation')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                    <option value="">Select</option>
                    <option *ngFor="let existingResidenceData of existingResidence" [value]="existingResidenceData">{{existingResidenceData}}</option>
                </select> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Total HBA Availed<span> * </span></label>
              <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="totalHbaAvailed"
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('totalHbaAvailed')?.invalid && hbaForm.get('totalHbaAvailed')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
             </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Total No. of Installment</label>
              <div class="col-sm-12">
                <!-- <select class="form-control" formControlName="totalNumberOfInstallments" (change)="getTotalNoInstallment($event)"
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('totalNumberOfInstallments')?.invalid && hbaForm.get('totalNumberOfInstallments')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                    <option value="">Select</option>
                    <option *ngFor="let totalNumberOfInstallmentsData of totalNumberOfInstallments" [value]="totalNumberOfInstallmentsData">{{totalNumberOfInstallmentsData}}</option>
                </select> -->
                <input type="text" class="form-control" formControlName="totalNumberOfInstallments" [ngStyle]="{
                  'border-bottom': (submitted &&
                    hbaForm.get('totalNumberOfInstallments')?.invalid &&
                    hbaForm.get('totalNumberOfInstallments')?.errors?.['required'])
                    ? '1px solid red'
                    : '1px solid #ccc'
                }">
                <!-- <select
                class="form-control"
                formControlName="totalNumberOfInstallments"
                [ngStyle]="{
                  'border-bottom': (submitted &&
                    hbaForm.get('totalNumberOfInstallments')?.invalid &&
                    hbaForm.get('totalNumberOfInstallments')?.errors?.['required'])
                    ? '1px solid red'
                    : '1px solid #ccc'
                }"
              >
                <option value="">Select</option>
                <option
                  *ngFor="let totalNumberOfInstallmentsData of totalNumberOfInstallments"
                  [value]="totalNumberOfInstallmentsData"
                >
                  {{ totalNumberOfInstallmentsData === 16 ? 'Final' : totalNumberOfInstallmentsData }}
                </option>
              </select> -->
              </div>
             </div>
          </div>

          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Total No. Recovery Months</label>
              <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="totalNumberOfRecoveryMonths"
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('totalNumberOfRecoveryMonths')?.invalid && hbaForm.get('totalNumberOfRecoveryMonths')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
              </div>
             </div>
          </div>

          <div class="sub-title float-left w-100  mx-2 my-2">Installment Info</div>
          <!-- <table class="table table-bordered table-striped table-hover my-1 mx-2 float-left" *ngIf="showTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Installment No.</th>
                <th>Conduct Rule Permission</th>
                <th>Amount</th>
                <th>Installment Date</th>
                <th>Attachment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let installmentData of installment; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ installmentData.installmentNumber }}</td>
                <td>{{ installmentData.conductRulePermission }}</td>
                <td>{{ installmentData.amount }}</td>
                <td>{{ installmentData.installmentDate | date: 'dd/MM/yyyy' }}</td>
                <td>
                  <a
                    href="{{ url }}{{ installmentData.conductRulePermissionAttachment }}"
                    target="_blank"
                    class="btn btn-primary py-2 px-1 ml-2"
                  >
                    View
                  </a>
                </td>
              </tr>
            </tbody>
          </table> -->
          
          <!-- <button class="btn btn-success mb-3" (click)="addInstallment()">Add Installment</button> -->

          <div formArrayName="installments">
            <div *ngFor="let row of installmentDetailsFormArray.controls; let i = index" [formGroupName]="i" class="card mt-0  mb-3">
              <div class="card-header pl-2">
                <h6 class="card-title mb-0" style="font-size: 14px;">
                  {{ getInstallmentTitle(i) }}
                </h6>
              </div>
              <div class="card-body pt-1">
                <div class="row">

                      <div class="col-md-2">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label">Installment Number</label>
                          <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="installmentNumber" (keydown)="onKeyDown($event)" />
                          </div>
                        </div>
                      </div>
                  
                      <div class="col-md-6 pr-0">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label">Conduct Rule Permission</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="conductRulePermission" />
                          </div>
                          <div class="col-sm-8">
                            <a *ngIf="row.get('conductRulePermissionAttachment')?.value" [href]="url + row.get('conductRulePermissionAttachment')?.value"
                target="_blank" class="btn btn-primary py-2 px-1">View</a>
                            <input type="file" class="form-control pl-0" accept=".pdf" formControlName="conductRulePermissionAttachment" (change)="getPermissionFile($event,i)"
                            style="border: none;"/>
                          </div>
                        </div>
                      </div>
                  
                      <div class="col-md-2 pl-0">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label">Amount</label>
                          <div class="col-sm-12">
                            <input type="number" class="form-control" formControlName="amount" (keydown)="onKeyDown($event)" (input)="validateInstallmentAmount()" />
                          </div>
                        </div>
                      </div>
                  
                      <div class="col-md-2 pl-0">
                        <div class="form-group row">
                          <label class="col-sm-12 col-form-label">Installment Date</label>
                          <div class="col-sm-12">
                            <input type="date" class="form-control" formControlName="installmentDate" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div>
          </div>
            
          
          <div class="sub-title float-left w-100  mx-2 my-2">Order Info</div>
          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Order Type </label>
              <div class="col-sm-12">
                  <select class="form-control" formControlName="orderType" 
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('orderType')?.invalid && hbaForm.get('orderType')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                      <option value="">Select</option>
                      <option *ngFor="let orderTypeData of orderType" [value]="orderTypeData.value">{{orderTypeData.label}}</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Order No </label>
                <div class="col-sm-12">
                  <input type="text" maxlength="4" class="form-control" formControlName="orderNo" (keydown)="onKeyDown($event)"
                  [ngStyle]="{'border-bottom': (submitted && hbaForm.get('orderNo')?.invalid && hbaForm.get('orderNo')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                </div>
              </div>
            </div>
          
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Order For </label>
              <div class="col-sm-12">
                <select class="form-control" formControlName="orderFor"
                [ngStyle]="{'border-bottom': (submitted && hbaForm.get('orderFor')?.invalid && hbaForm.get('orderFor')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}">
                  <option value="" selected>Select</option>
                  <option *ngFor="let orderForData of orderFor" [value]="orderForData.value">
                    {{ orderForData.label }}
                  </option>
                </select>            
              </div>
            </div>
          </div>


              <div class="col-md-2">
                  <div class="form-group row">
                  <label class="col-sm-12 col-form-label">Date of Order </label>
                  <div class="col-sm-12">
                      <input type="date" class="form-control"  formControlName="dateOfOrder"
                      [ngStyle]="{'border-bottom': (submitted && hbaForm.get('dateOfOrder')?.invalid && hbaForm.get('dateOfOrder')?.errors?.['required']) ? '1px solid red' : '1px solid #ccc'}" />
                    </div>
                  </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label pt-1">Order File 
                    <a href="{{orderFileUrl}}" target="_blank" class="btn btn-primary py-2 px-1 ml-2">View</a>
                  </label>
                  <div class="col-sm-12">
                    <input type="file" class="form-control pl-0" accept=".pdf" formControlName="orderFile" style="border: none;" (change)="onFileSelected($event)"></div>
                    <div *ngIf="hbaForm.get('orderFile')?.errors?.['maxSize']" style="font-size: 13px; color: red;" class="pl-2">File size exceeds 5MB</div>
                    <div *ngIf="hbaForm.get('orderFile')?.errors?.['incorrectFileType']">Only PDF files are allowed</div>
                  </div>
              </div>

              <div class="col-md-5">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Remarks</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="remarks" />
                    </div>
                  </div>
                </div>
  
          <div class="mt-3 float-left w-100 ml-2">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-light">Cancel</button>
          </div>
          </div>
      </form>
  </div>
</div>
</div>